body {
  margin: 0;
  /*all 4 sides will be set to 0 px*/
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.377rem;
  color: white;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.875em;
  color: #EB4747;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.251em;
  color: #FF8B8B;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #231955;
}

.topContainer {
  background-color: #ABC9FF;
  position: relative;
  padding-top: 100px;
  /*width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px;*/
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  width: 300px;
  border-radius: 90%;
  padding-top: 20px;
}

.prgrmr-customized {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: white;
}

.chef {
  width: 30%;
  float: right;
  padding-right: 5%;
}

.coding {
  border-radius: 50%;
  width: 35%;
  float: left;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.skill-row {
  width: 60%;
  margin: 80px auto 80px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  width: 60%;
  margin: 20px auto 30px auto;
}
