body {
  margin: 0;
  /*all 4 sides will be set to 0 px*/
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ABC9FF;
  border-width: 5px;
  width:3%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4.377rem;
  color: white;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  color: #EB4747;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.251em;
  color: #FF8B8B;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #231955;
  line-height: 2;
}

a {
  padding-left: 2em;
  padding-right: 2em;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.topContainer {
  background-color: #ABC9FF;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  width: 250px;
  border-radius: 90%;
}

.prgrmr-customized {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  color: white;
}

.chef {
  width: 30%;
  float: right;
  padding-right: 5%;
}

.coding {
  border-radius: 50%;
  width: 35%;
  float: left;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.skill-row {
  width: 60%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.profile {
  width: 40%;
  margin: 6em auto 8em auto;
}

.skills {
  margin: 7em auto 7em auto;
}

.contact-me {
  margin: 7em auto 7em auto;
}

.bottom-container {
  background-color: #ABC9FF;
  position: relative;
  padding-bottom:2em;
  padding-top: 3em;
}

.btn {
  background: #FFDEDE;
  background-image: -webkit-linear-gradient(top, #FFDEDE, #EB4747);
  background-image: -moz-linear-gradient(top, #FFDEDE, #EB4747);
  background-image: -ms-linear-gradient(top, #FFDEDE, #EB4747);
  background-image: -o-linear-gradient(top, #FFDEDE, #EB4747);
  background-image: linear-gradient(to bottom, #FFDEDE, #EB4747);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #d1402a;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #EB4747;
  background-image: -webkit-linear-gradient(top, #EB4747, #FFDEDE);
  background-image: -moz-linear-gradient(top, #EB4747, #FFDEDE);
  background-image: -ms-linear-gradient(top, #EB4747, #FFDEDE);
  background-image: -o-linear-gradient(top, #EB4747, #FFDEDE);
  background-image: linear-gradient(to bottom, #EB4747, #FFDEDE);
  text-decoration: none;
}

.footer-link {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}

.copyright {
  font-size: .8em;
  padding-top: 1.25em;
}
